# Created by https://www.gitignore.io/api/jmeter

### JMeter ###
# JMeter common ignore files
# http://jmeter.apache.org/

# Ignore Summary/Aggregrate reports
*.jtl

# Ignore log files
*.log

# Ignore customized user.properties
user.properties
# End of https://www.gitignore.io/api/jmeter
